/* -CSS STYSLING FOR PERSONAL SITE- */
/*---------------
MISC STYLES
---------------*/

* {
  box-sizing: border-box;
}

body {
  color: #676767;
  font-family: 'Raleway', sans-serif;
}

p {
  font-size: 1.25em;
  letter-spacing: .085em;
  line-height: 1.3;
}

a {
  text-decoration: none;
  color: #2F3738;

}

a:visited {
  color: #2F3738;
}

/*---------------
HEADER STYLES
---------------*/

header img {
  width: 18%;
  min-width: 180px;
  border-radius: 50%;
  margin: 0 auto;
  padding-top: 70px;
  padding-bottom: 70px;
  display: block;
}

header {
  margin-bottom: 10px;
  padding-bottom: 40px;
}

header h1, h2 {
  text-align: center;
}

header h1 {
  color: #2F3738;
  font-weight: normal;
  font-size: 2em;
  margin: 0;
}

header h2 {
  font-weight: normal;
  margin: 0;
  padding-top: 10px;
}

header p {
  width: 90%;
  display: block;
  margin: auto;
  margin-bottom: 130px;
  text-align:  center;
  padding-top: 20px;
}

header a {
    border-bottom: 1px solid #ecf0f1;
    transition: border-bottom-color .55s;
}

header a:hover {
  border-bottom-color: #2F3738;
}

/*---------------
PORTFOLIO STYLES
---------------*/

.portfolio {
  width: 100%;
  margin: 0 auto 2em auto;
  text-align: center;
}

.portfolio h2 {
  color: #2F3738;
  font-size: 2em;
  font-weight: normal;
  margin-bottom: 0;
}

.portfolio h3 {
  color: #2F3738;
  font-size: 1.5em;
  font-weight: normal;
  margin: 10px 0 5px 0;
  padding: 0;
}

.category-header {
  margin: 0;
  font-size: 16px;
  border-bottom: 1px solid #E0E0E0;
  display: inline-block;
}

.portfolio ul {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.portfolio li {
  text-align: center;
  width: 100%;
  margin-bottom: 35px;
}

.portfolio li img {
  margin: auto;
  max-width: 240px;
  border-radius: 12px;
  box-shadow: 2px 2px 20px -2px rgba(207,207,207,1);

}

.portfolio p {
  margin-top: 1em;
  margin-bottom: 2em;
}

.project_date {
  font-size: 1em;
  display: inline-block;
}

.project_won {
  border-color: #2ecc71;
  color: #2ecc71;
}

.portfolio a {
  color: #95a5a6;
  transition: color .5s;
}

.portfolio a:hover {
  border-bottom: none;
  color: #2F3738;
}

/*---------------
FOOTER STYLES
---------------*/

footer {
   text-align: center;
}

footer p {
 font-size: 0.95em;
 margin: 0;
 padding: 0 0 10px 0;

}

footer a:hover {
  border-bottom: none;
}

/*---------------
CLEARFIX
---------------*/
.group::after {
  content: " ";
  display: table;
  clear: both;
}
/*---------------
MEDIA QUERIES
---------------*/

@media (min-width: 960px) {

  header h1 {
    font-size: 2.8em;
  }

  header p {
    width: 60%;
  }

  .portfolio {
    width: 75%;
  }

  .portfolio li {
    float: left;
    width: 33.3%;
  }

  .portfolio li:nth-child(4) {
    clear: left;
  }
}
