/* -CSS STYSLING FOR PERSONAL SITE- */
/*---------------
MISC STYLES
---------------*/

* {
  box-sizing: border-box;
}

body {
  color: #676767;
  font-family: 'Raleway', sans-serif;
}

p {
  font-size: 1.25em;
  letter-spacing: .085em;
  line-height: 1.3;
}

a {
  text-decoration: none;
  color: #2F3738;

}

a:visited {
  color: #2F3738;
}

/*---------------
HEADER STYLES
---------------*/

header img {
  width: 18%;
  min-width: 180px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 30px;
}

header {
  margin-bottom: 10px;
  padding-bottom: 40px;
}

header h1, h2 {
  text-align: center;
}

header h1 {
  color: #2F3738;
  font-weight: normal;
  font-size: 2em;
  margin: 0;
}

header h2 {
  font-weight: normal;
  margin: 0;
  padding-top: 10px;
}

header p {
  width: 90%;
  display: block;
  margin: auto;
  margin-bottom: 130px;
  text-align:  center;
  padding-top: 20px;
}

/*---------------
PORTFOLIO STYLES
---------------*/

.portfolio {
  width: 100%;
  margin: 0 auto 2em auto;
  text-align: center;
}

.portfolio h2 {
  color: #2F3738;
  font-size: 2em;
  font-weight: normal;
  margin-bottom: 0.5em;
  border-top: 1px solid grey;
  display: inline-block;
}

.portfolio h3 {
  color: #2F3738;
  font-size: 1.5em;
  font-weight: normal;
  margin: 10px 0 0 0;
  padding: 0;
}

.category-header {
  margin: 0;
  font-size: 16px;
}

.portfolio ul {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.portfolio li {
  text-align: center;
  width: 100%;
  margin-bottom: 35px;
}

.portfolio li img {
  margin: auto;
  max-width: 240px;
  border-radius: 12px;
  box-shadow: 2px 2px 20px -2px rgba(207,207,207,1);
}

.portfolio p {
  margin-bottom: 2em;
}

.project_date {
  font-size: 1em;
  margin-top: 0.2em;
  display: inline-block;
  color: #2ecc71;
}

.pastProject {
  color: #676767;
}

.portfolio a {
  color: #95a5a6;
  transition: color .5s;
}

/*---------------
ACHIEVEMENT STYLES
---------------*/

.achievements {
  margin: auto;
  margin-bottom: 2em;
  text-align: center;
  width: 95%;
}

.achievements ul {
  width: 100%;
  padding: 0;
  margin-top: 2em;
}

.achievements li {
  border-bottom: 1px solid #E0E0E0;
  display: block;
  text-align: left;
  padding: 1.8em 0 0.4em 0;
}

.checkmark {
  font-size: 18px;
  padding-right: 20px;
  color: #2F3738;
}

/*---------------
FOOTER STYLES
---------------*/

footer {
   text-align: center;
}

footer p {
 font-size: 0.95em;
 margin: 0;
 padding: 0 0 10px 0;

}

footer a:hover {
  border-bottom: none;
}

/*---------------
CLEARFIX
---------------*/
.group::after {
  content: " ";
  display: table;
  clear: both;
}
/*---------------
MEDIA QUERIES
---------------*/

@media (min-width: 920px) {
  header h1 {
    font-size: 2.8em;
  }

  header p {
    width: 50%;
  }

  .portfolio li {
    float: left;
    width: 29.3%;
    margin-left: 2%;
    margin-right: 2%;
  }

  #tvOSSection img {
    width: 100%;
    max-width: 320px;
  }

  .portfolio li:nth-child(4) {
    clear: left;
  }

  .achievements {
    width: 75%;
  }
}

@media (min-width: 1220px) {
  .portfolio {
    width: 80%;
  }
}

@media (min-width: 920px) and (max-width: 1219px){
  .portfolio {
    width: 90%;
  }
}
